<!-- EJS file -->
<!DOCTYPE html>
<html lang="en" id="indexHTML">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCMPDB</title>
		<link rel="stylesheet" href="style.css">
        <script src="./scripts/index.js" defer></script>
    </head>
    <body>
        <nav>
            <span><a href="#" id="home">home</a></span>
            <span>MCMODPACKDB</span>
            <div class="dropdown">
                <span class="dropbtn">USER</span>
                <div class="dropdown-content">
                    <a href="pages/addmodpack.html">Add Modpack</a>
                    <a href="#">Manage Account</a>
                    <a href="#" id="logoutEJS">Logout</a>
                    <a href="pages/login.html" id="loginEJS" class="hidden">login</a>
                </div>
            </div>
        </nav>
        <!-- <img id="bgImg" src="./assets/mcbg.png" alt="bg"> -->
        <div id="hero">
            <h1>Minecraft Community Modpacks</h1>
            <div id="searchBars">
                <input type="search" placeholder="search for a modpack..." name="searchModPack">
                <input type="search" placeholder="search for a mod..." name="searchMod">
            </div>
            <ul id="modPackNames">
                <% for(var i = 0; i < info.database.length; i++) {%>
                    <li class="modPack">
                        <div>
                            <span class="mpName"><%= info.database[i].name %></span>
                            <div class="mpInfo">
                                <span class="mpVersion">version: <%= info.database[i].mpVer %> |</span>
                                <span class="mcVersion">game version: <%= info.database[i].mcVer %> | </span>
                                <span class="mpLink"><a href="<%= info.database[i].url %>">source</a></span>
                            </div>
                        </div>
                        <div>
                            <!-- TODO: When clicking this button, go to different ejs file and load information about modpack -->
                            <span><a href="#">view modpack &rarr;</a></span>
                        </div>
                        
                        <!-- <% for(var j = 0; j < info.database[i].mods.length; j++) {%>
                            <li class="modList">
                                <span><%= info.database[i].mods[j].modName %></span>
                            </li>
                        <% } %> -->

                    </li>
                <% } %>
            </ul>
        </div>
        <div id="expanded">
            <section class="general">
                <img src="#" alt="modicon">
                <div class="generalText">
                    <h2>modpack name</h2>
                    <span>date created</span>
                    <span class="recentUpdateDate">latest update</span>
                    <span class="gameVersion">game version:</span>
                    <span class="authors">author(s)</span>
                    <p class="description">descriptiondescriptiondescription</p>
                </div>
            </section>
            <section class="labels">
                <span>Mod Name</span>
                <span>Mod Creators</span>
                <span>Game Version</span>
                <span>Latest Update</span>
            </section>
            <ul id="modsUL">
                <!-- for every mod in modpack -->
                <li class="modsLi">                        
                    <span>Too Many Items</span>
                    <span>creator a</span>
                    <span>2.2.2</span>
                    <span>2012-04-09</span>
                 </li>
                 <li>                        
                    <span>mod name</span>
                    <span>mod creators</span>
                    <span>game version |</span>
                    <span>date updated</span>
                 </li>
            </ul>
            
        </div>
    </body>
</html>